</main>
<footer>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark footer">
        <a class="navbar-brand" href="/">
            <h6><i class="fa-regular fa-copyright"></i> Movie Meetup (Sudhamsh Mondrati)</h6>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkupFooter"
            aria-controls="navbarNavAltMarkupFooter" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkupFooter">
            <div class="navbar-nav">
                <a class="nav-item nav-link h4" href="/events/new">New Event</a>
                <a class="nav-item nav-link h4" href="/users/new" title="Coming soon!">Sign Up</a>
                <a class="nav-item nav-link h4" href="/users/login" title="Coming soon!">Login</a>
                <a class="nav-item nav-link h4" href="/events">Events</a>
                <a class="nav-item nav-link h4" href="/about">About</a>
                <a class="nav-item nav-link h4" href="/contact">Contact</a>
            </div>
        </div>
        <div class="collapse text-light navbar-collapse justify-content-end">
            <a href="https://twitter.com" class="text-white"><i
                    class="fa-brands fa-2x me-3 fa-square-twitter"></i></a>
            <a href="https://facebook.com" class="text-white"><i class="fa-brands fa-2x fa-facebook me-2"></i></a>
        </div>
    </nav>
</footer>


</body>

</html>