
<%- include('../partials/header.ejs')%>
<h1 class="text-center">Profile</h1>
<div class="container w-50 p-5">
    Welcome, <%= user.firstName %>!
</div>
    <%- include('../partials/footer.ejs')%>


